:root {
    --main-font: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --accent-font: 'PressStart2P', 'Courier New', Courier, monospace;

    --card-text-weight: 400;
    --card-title-weight: 700;

    --bg-color: #fff;
    --accent-color: #000;
    --text-stroke-color: #fff;
    --animation-fill-color: #ff0000;
    --contour-color: var(--accent-color);

    --bg-image:
            repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
            repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);

    --content-width: clamp(23.438rem, 30.51vw + 17.344rem, 47.813rem);
}